<div class="header">
  <h1 *ngIf="isConnected">Démo Angular WEB BI cher utilisateur connecté</h1>
  <h1 *ngIf="!isConnected">Démo Angular WEB BI sale inconnu</h1>
</div>
<a routerLink="demo/demo1">Bindings/directive</a> | 
<a routerLink="demo/demo2">@input/@output</a> | 
<a routerLink="demo/demo3">Storage/service</a> | 
<a routerLink="demo/demo4">Conso API</a> | 
<a routerLink="demo/demo5">Formulaires</a> | 
<a routerLink="exo">Exercices</a> | 
<a routerLink="poke">Pokedex</a> | 
<hr />
<router-outlet></router-outlet>
<div>
  <p>&copy; Web BI 2021</p>
</div>